<div *ngIf="!dataService.user">
    <button mat-raised-button *ngIf="!dataService.user" (click)="login()" color="primary">login</button>
    <h2> You must be logged in to openstreetmap to continue</h2>
</div>

<div *ngIf="dataService.user">
    <button mat-raised-button  *ngIf="dataService.user"  (click)="logout()" color="warn">logout</button>
    <h4> Hello <b>{{dataService.user.display_name }} !</b> </h4>
 

    <table>
      <thead>
          <th>
            Language 
          </th>
          <th>
            Progress UI
          </th>
          <th></th>
      </thead>
      <tbody>
          <tr *ngFor="let c of dataService.i18nLanguages">
              <td>{{ c.nativeName}} ({{ c.name}}) </td>
              <td>  {{ c.progress[0]}} / {{ c.progress[1]}} </td>
              <td>
                <button mat-raised-button   (click)="goToTranslateUi(c.code)" color="primary">
                  Translate Ui
                </button>
              </td>
              <td>
                  <button mat-raised-button (click)="goToTagsConfig(c.code)" color="primary">
                      Configure presets
                    </button>
              </td>
          </tr>
      </tbody>
  </table>



</div>


